.Management {
    box-shadow: #ccc -1px 2px 5px;
    background-color: #fff;
}

.Management td {
    padding: 20px;
    text-align: center;
 }

 .Management td:first-child {
   border-radius: 4px;
   border-left: 3px solid #85a8f8;
}

.Management td:last-child {
   border-radius: 4px;
   border-right: 1px solid #fff;
}


 .Management td span:after {
    content: '|';
    margin-left: 3px;
    margin-right: 3px;
 }

 .Management td span:last-child:after {
    content: none;
 }

 @media (max-width: 768px) {
   .Management td {
      padding: 15px;
   }
}